<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Risyu_ms</servlet-name>
		<servlet-class>risyu_ms.Risyu_msServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Risyu_ms</servlet-name>
		<url-pattern>/risyu_ms</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>main.jsp</welcome-file>
		<!--<welcome-file>index.html</welcome-file>-->
	</welcome-file-list>
	<servlet>
		<servlet-name>Users</servlet-name>
		<servlet-class>risyu_ms.UsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Users</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>PairCourse</servlet-name>
		<servlet-class>risyu_ms.PairCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PairCourse</servlet-name>
		<url-pattern>/pair</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>risyu_ms.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>risyu_ms.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
</web-app>